{% load static core_tags %}

<div class="benefit">
  <div class="benefit-top">
    <div class="bt-title">
      {% if site_settings.logo %}
          <object type="image/{% check_img site_settings.logo.url %}" class="icon-logo animated replace-fadeInUp" data="{{ site_settings.logo.url }}"></object>
      {% else %}
        <object type="image/svg+xml" class="icon-logo animated replace-fadeInUp" data="{% static 'img/svg/icon-logo.svg'%}"></object>
      {% endif %}
      <h3 class="title animated replace-fadeInUp">
        <span style="display: block;margin: auto;width: 40%;word-break: break-word; color: {{ object.title_color }};">
          {{ object.title }}<!--REITOP BENEFITs-->
        </span>
      </h3>
    </div>
  </div>
  <div class="wrapper">
    {% divide_by_pairs object.pageblock_set.published as pairs %}
    {% for elements in pairs %}
      <div class="half-cont">
        {% for item in elements %}
          {% odd_even forloop.counter0 as ov %}
          <div class="half-{% if ov == 1 %}right{% else %}left{% endif %}">
          {% if item.background_image %}
            {% check_img item.background_image.url as bg_type %}
          {% endif %}
          {% with forloop.counter as counter %}
            {% if counter == 1 %}
              {% static 'img/svg/Own_Investment_Icon.svg' as default_icon %}
            {% elif counter == 2 %}
              {% static 'img/svg/Unique_Policy_Icon.svg' as default_icon %}
            {% elif counter == 3 %}
              {% static 'img/svg/Diversification_Icon.svg' as default_icon %}
            {% elif counter == 4 %}
              {% static 'img/svg/Interest_Rate_Icon.svg' as default_icon %}
            {% endif %}
            {% include 'page_parts/benefit_item.html' with object=item default_icon=default_icon %}
          {% endwith %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
