<div class="half-cont animated replace-fadeInUp">
  <div class="half-left">
    <div class="cripto-item">Due to the fact that cryptocurrency is not taxed, we can give our investors and shareholders such profitable interest rates</div>
    <div class="cripto-item">Very fast money transfers compared to bank transfers</div>
    <div class="cripto-item">No need to pay taxes if you make transactions in cryptocurrency</div>
    <div class="cripto-item">There are no restrictions on the maximum amount of investment, while banks limit the amount that can be sent 1 time or per day</div>
  </div>
  <div class="half-right animated replace-fadeInUp">
    <div class="cripto-item">The commission for the transfer is 0.5-4 dollars, while in banks and payment systems you need to pay 3-7% of the commission on the amount of payment</div>
    <div class="cripto-item">The ability to invest and receive dividends anywhere, without the need to visit financial institutions or structures</div>
    <div class="cripto-item">Bank accounts and accounts in the payment system are often subject to unjustified blocking, and in most cases to final blocking, without the ability to return their funds</div>
  </div>
</div>
