{% load static core_tags %}

<div class="cripto">
  <div class="wrapper">
    <h3 class="title animated replace-fadeInUp" style="color: {{ object.title_color }};">{{ object.title }}</h3>
    {{ object.children.first.text|safe }}
  </div>
  {% if object.background_image %}
    <object type="image/{% check_img object.background_image.url %}" data="{{ object.background_image.url }}"></object>
  {% else %}
    <object type="image/svg+xml" data="{% static 'img/svg/cripto.svg'%}"></object>
  {% endif %}
</div>
