<h4 class="subtitle sub-can animated replace-fadeInUp">Can be useful for investors which:</h4>
<div class="half-cont can">
  <div class="half-left">
    <div class="investor-item animated replace-fadeInUp">Seek capital growth and are willing to invest in a higher risk fund</div>
    <div class="investor-item animated replace-fadeInUp">Agree to the risks associated with equity investments</div>
  </div>
  <div class="half-right">
    <div class="investor-item animated replace-fadeInUp">Adherents of investments in a stable sphere - commercial and residential real estate</div>
    <div class="investor-item animated replace-fadeInUp">Have a short- and medium- term investment horizon from two months to three years or more</div>
  </div>
</div>
<h4 class="subtitle sub-cant animated replace-fadeInUp">Can <span>not</span> be useful for investors which:</h4>
<div class="half-cont cant">
  <div class="half-left">
    <div class="investor-item animated replace-fadeInUp">Don’t want to put their capital at risk and are looking for guaranteed methods of quick enrichment</div>
    <div class="investor-item animated replace-fadeInUp">Have a very short-term investment horizon (up to 1 month)</div>
    <div class="investor-item animated replace-fadeInUp">Don’t tolerate short-term volatility</div>
  </div>
  <div class="half-right">
    <div class="investor-item animated replace-fadeInUp">Afraid of the level of risk associated with property- based investments</div>
    <div class="investor-item animated replace-fadeInUp">Be afraid of the risks associated with investing in commercial and residential real estate</div>
  </div>
</div>
