{% load static %}

<div class="news-item">
  <div class="inner-news-item">
    <div class="news-img" style="background:url({% if object.image %}{{ object.image.url }}{% else %}{% static 'img/news.jpg' %}{% endif %});background-position:left bottom;background-size:cover"></div>
    <div class="news-dscr">
      <div class="news-title">{{ object.title }} {{ counter }}</div>
      <div class="news-date">{{ object.created|date:"d.m.Y" }}</div>
      <p>{{ object.text }}</p>
      {% if object.show_more_button %}
        <a href="{{ object.button_link }}" class="but news-link">{{ object.button_text|default:"learn more" }}</a>
      {% endif %}
    </div>
  </div>
</div>
