{% load static core_tags %}

<div class="second">
  <div class="wrapper">
    <h3 id="work" class="title underl animated replace-fadeInUp" style="color: {{ object.title_color }};">{{ object.title }}</h3>
    {% if object.background_image %}
      <object type="image/{% check_img object.background_image.url %}" data="{{ object.background_image.url }}"></object>
    {% else %}
      <object type="image/svg+xml" data="{% static 'img/svg/about.svg'%}"></object>
    {% endif %}
    <div class="half-cont">
      <div class="half-left">
        <object type="image/svg+xml" class="animated replace-fadeInUp" data="{% static 'img/svg/deposite.svg'%}"></object>
        <p class="animated replace-fadeInUp"><span>DEPOSITED</span>  funds are transferred and pooled in a joint company investment wallet. A specific share size is allocated to each deposit, directly proportionate to the amount invested compared to the total size of the joint investment wallet. This share size is utilized as a determining factor for the Return On Investment for each contribution. The funds in the joint investment wallet are used by our team of expert traders and business consultants to invest in various diversified ventures. These investments are split into multiple portfolios in order to boost the efficiency of our investments and to insulate potential financial risks from effecting all fun</p>
      </div>
      <div class="half-right">
        <object type="image/svg+xml" class="animated replace-fadeInUp" data="{% static 'img/svg/income.svg'%}"></object>
        <p class="animated replace-fadeInUp">THE INCOME  and dividends are returned to each investors personal account according to the share size designated in the start of the investment fund pooling process. This guarantees highest possible investment security without compromising the ease of platform use for our clients. Furthermore, regardless of us managing all the investing actions, the client stays in control of their fund at all times, able to operate with them freely and continuously. Each client is free to withdraw their funds and conclude their investing activity at any time. No contract locks or hidden loopholes.
        </p>
      </div>
    </div>
  </div>
</div>
