{% load static core_tags %}

<div class="second">
  <div class="wrapper">
    <h3 id="work" class="title underl animated replace-fadeInUp" style="color: {{ object.title_color }};">{{ object.title }}</h3>
    {% if object.background_image %}
      <object type="image/{% check_img object.background_image.url %}" data="{{ object.background_image.url }}"></object>
    {% else %}
      <object type="image/svg+xml" data="{% static 'img/svg/about.svg'%}"></object>
    {% endif %}
    {% divide_by_pairs object.pageblock_set.published as pairs %}
    {% for elements in pairs %}
    <div class="half-cont">
      {% for item in elements %}
        {% odd_even forloop.counter0 as ov %}
        <div class="half-{% if ov == 1 %}right{% else %}left{% endif %}">
        {% if item.background_image %}
          <object type="image/{% check_img item.background_image.url %}" class="animated replace-fadeInUp" data="{{ item.background_image.url }}"></object>
        {% else %}
          {% if ov == 1 %}
            <object type="image/svg+xml" class="animated replace-fadeInUp" data="{% static 'img/svg/income.svg'%}"></object>
          {% else %}
          <object type="image/svg+xml" class="animated replace-fadeInUp" data="{% static 'img/svg/deposite.svg'%}"></object>
          {% endif %}
        {% endif %}
          <p class="animated replace-fadeInUp">{{ item.text|safe }}</p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
