{% load static %}

<div class="sector-item animated replace-bounceInUp" style="animation-duration:2s;">
  <div class="sector-img" style="background:url({% static 'img/sector.jpg' %})"></div>
  <div class="sector-name">Commerce  <span>36%</span></div>
  <div class="sector-descr">The Company owns a range of industrial assets, the most significant being
    multi-let estates including Milton Keynes and Leeds, which are positively
    impacted by structural trends and where there are significant asset
  management opportunities to capture rental growth.</div>
</div>
