{% load static %}
{# reviews goes here #}

<div class="team">
  <div class="wrapper">
    <div class="half-cont">
      <div class="half-left">
        <h3 class="title animated replace-fadeInUp" style="color: {{ object.title_color }};">{{ object.title }}</h3>
      </div>
      <div class="half-right">
        <h4 class="subtitle animated replace-fadeInUp">{{ object.subtitle }}</h4>
        <p class="animated replace-fadeInUp">{{ object.text|safe }}</p>
      </div>
    </div>
    <div class="team-slide animated replace-bounceInUp" style="animation-duration:2s;">
      {% with object.slider_set.first.review_set.all as reviews %}
        {% for review in reviews %}
          {% if review.publish %}
            {% include 'page_parts/team_item.html' with site_settings=site_settings object=review %}
          {% endif %}
        {% endfor %}
      {% endwith %}
    </div>
  </div>
</div>
