{% extends 'base.html' %}

{% block page_content %}
<!--		<header>-->
<!--			<div class="menu-button-box animated fadeInDown">-->
<!--				<div id="main-menu">-->
<!--					<form id="search" >-->
<!--						<div id="s-clear">-->
<!--							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--							width="10px" height="10px" viewBox="0.1 0.8 10 10" enable-background="new 0.1 0.8 10 10" xml:space="preserve">-->
<!--								<polygon points="10.1,10 5.9,5.8 10.1,1.7 9.3,0.8 5.1,5 0.9,0.8 0.1,1.7 4.3,5.8 0.1,10 0.9,10.8 5.1,6.7 9.3,10.8-->
<!--								"/>-->
<!--							</svg>-->
<!--						</div>-->
<!--						<input type="text" placeholder="Search ..."/>-->
<!--					</form>-->
<!--					<ul>-->
<!--						<li><a href="">What’s a REIT?</a>-->
<!--							<ul class="sub">-->
<!--								<li><a href="">What’s a REIT?</a></li>-->
<!--								<li><a href="">REIT Basics</a></li>-->
<!--								<li><a href="">Types of REITS</a></li>-->
<!--								<li><a href="">REIT Sectors</a></li>-->
<!--								<li><a href="">REIT Glossary</a></li>-->
<!--								<li><a href="">REIT FAQs</a></li>-->
<!--								<li><a href="">The history of REITs</a></li>-->
<!--								<li><a href="">How to form a REIT?</a></li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li><a href="">INVESTING IN REITS</a></li>-->
<!--						<li><a href="">REIT DATA</a></li>-->
<!--						<li><a href="">INDUSTRY NEWS</a></li>-->
<!--						<li><a href="">ABOUT NAREIT</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="s svg">-->
<!--					<svg id="s-button" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--					width="24px" height="24px" viewBox="0.1 -0.1 24 24" enable-background="new 0.1 -0.1 24 24" xml:space="preserve">-->
<!--						<path d="M16.8,15.4c0.7,0.7,1.3,1.3,2,2c1.2,1.2,2.4,2.4,3.6,3.6c0.2,0.2,0.3,0.5,0.3,0.8c-0.1,0.5-0.7,0.7-1.2,0.4-->
<!--						c-0.1-0.1-0.2-0.1-0.2-0.2c-1.7-1.7-3.5-3.5-5.2-5.2c-0.1-0.1-0.1-0.2-0.2-0.3c-2.1,1.7-4.4,2.3-7,1.9c-2.2-0.4-4-1.5-5.4-3.3-->
<!--						C0.7,11.7,1,6.8,4.1,3.8c3.1-3.1,8-3.3,11.5-0.6C19.2,6,20.1,11.6,16.8,15.4z M10.2,2.8C6.3,2.8,3.1,6,3.1,9.9-->
<!--						c0,3.9,3.2,7.1,7.1,7.1c3.9,0,7.1-3.2,7.1-7.1C17.3,6,14.1,2.8,10.2,2.8z"/>-->
<!--					</svg>-->
<!--				</div>-->
<!--				<div class="hamburger hamburger&#45;&#45;collapse-r">-->
<!--					<div class="hamburger-box">-->
<!--						<div class="hamburger-inner"></div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="a">-->
<!--					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--					width="40px" height="40px" viewBox="-9 -14 40 40" enable-background="new -9 -14 40 40" xml:space="preserve">-->
<!--						<polygon fill="#FFFFFF" points="11.8,10.6 20.2,3.8 18.7,2.3 11.5,8.2 4.2,2.2 2.7,3.7 11.2,10.6 11.4,10.9 11.5,10.9 11.5,10.9 "/>-->
<!--					</svg>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="head">-->
<!--				<div class="head-left">-->
<!--					<div class="head-content-left">-->
<!--						<a href="/" class="svg animated fadeInDown" id="logo"><object type="image/svg+xml" data="img/svg/logo.svg"></object></a>-->
<!--						<h1 class=" animated fadeInLeft">CONTACTS</h1>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="head-center">-->
<!--					<div class="quadro"><div class="square01 animated bounceInDown"></div><div class="square02 animated bounceInDown"></div><div class="square03 animated bounceInDown"></div></div>-->
<!--				</div>-->
<!--				<div class="head-right animated fadeInRight">-->
<!--					<div class="head-content-right">-->
<!--						<a href="" class="login animated fadeInDown">login</a>-->
<!--						<a href="" class="account animated fadeInDown">Get account access</a>-->
<!--&lt;!&ndash;						<div class="banner-info">							&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="title animated fadeInDown">Have a quetions?</div>&ndash;&gt;-->
<!--&lt;!&ndash;							<p class="animated fadeInDown">Use our FAQ list or send question now</p>&ndash;&gt;-->
<!--&lt;!&ndash;							<a href="" class="but-round white-round animated zoomIn" style="animation-delay: 2.2s;">FAQ</a>&ndash;&gt;-->
<!--&lt;!&ndash;							<a href="" class="but-round red-round animated zoomIn" style="animation-delay: 2.2s;">WRITE TO SUPPORT</a>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</header>-->

		<div class="contact">
			<div class="wrapper">
				<h3 class="title">HEAD OFFICE</h3>
			</div>
			<div class="half-cont">
				<div class="half-left">
					<div id="map" class="animated replace-fadeInLeft"></div>
				</div>
				<div class="half-right">
					<div class="address">
						<div class="adr animated replace-fadeInRight">ING ENRIquE butty 220, piso 12 c1001afb  - buenos aires argentina</div>
						<div class="email animated replace-fadeInRight">email</div>
						<a href="" class="adrs animated replace-fadeInRight">reitop_info@gmail.com</a>
						<div class="phone animated replace-fadeInRight">phone</div><!-- skype here-->
						<a href="" class="adrs animated replace-fadeInRight"><span>+54</span> (0) 11 4317 1300 </a>
						<div class="site animated replace-fadeInRight">website</div><!-- telegram here here-->
<!--						<a href="" class="adrs animated replace-fadeInRight"><span>reitop.com</span></a>-->
<!--						<a href="" class="but-round red-round animated replace-fadeInRight">WRITE TO SUPPORT</a>-->
					</div>
				</div>
			</div>
			<div class="branch">
				<div class="wrapper">
					<h3 class="title">Our branches</h3>
					<div class="all-map justify">
						<div class="item-map animated replace-bounceInUp" style="animation-duration:2s;">
							<div id="map1"></div>
							<div class="map-descr">
								<div class="adr">ING ENRIquE butty 220, piso 12 c1001afb  - buenos aires argentina</div>
								<div class="line"></div>
								<div class="phone"><div class="n">PHONE</div><a href="" class="v"><span>+54</span> (0) 11 4317 1300</a></div>
								<div class="email"><div class="n">EMAIL</div><a href="" class="v">reitop_info@gmail.com</a></div>
								<div style="clear:both"></div>
							</div>
						</div>
						<div class="item-map animated replace-bounceInUp" style="animation-duration:2s;animation-delay:0.5s;">
							<div id="map2"></div>
							<div class="map-descr">
								<div class="adr">ING ENRIquE butty 220, piso 12 c1001afb  - buenos aires argentina</div>
								<div class="line"></div>
								<div class="phone"><div class="n">PHONE</div><a href="" class="v"><span>+54</span> (0) 11 4317 1300</a></div>
								<div class="email"><div class="n">EMAIL</div><a href="" class="v">reitop_info@gmail.com</a></div>
								<div style="clear:both"></div>
							</div>
						</div>
						<div class="item-map animated replace-bounceInUp" style="animation-duration:2s;">
							<div id="map3"></div>
							<div class="map-descr">
								<div class="adr">ING ENRIquE butty 220, piso 12 c1001afb  - buenos aires argentina</div>
								<div class="line"></div>
								<div class="phone"><div class="n">PHONE</div><a href="" class="v"><span>+54</span> (0) 11 4317 1300</a></div>
								<div class="email"><div class="n">EMAIL</div><a href="" class="v">reitop_info@gmail.com</a></div>
								<div style="clear:both"></div>
							</div>
						</div>
						<div class="item-map animated replace-bounceInUp" style="animation-duration:2s;animation-delay:1s;">
							<div id="map4"></div>
							<div class="map-descr">
								<div class="adr">ING ENRIquE butty 220, piso 12 c1001afb  - buenos aires argentina</div>
								<div class="line"></div>
								<div class="phone"><div class="n">PHONE</div><a href="" class="v"><span>+54</span> (0) 11 4317 1300</a></div>
								<div class="email"><div class="n">EMAIL</div><a href="" class="v">reitop_info@gmail.com</a></div>
								<div style="clear:both"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
