{% extends 'base.html' %}
{% load i18n static %}

{% block page_content %}
	<div class="project">
		<div class="project-left">
			<div  class="project-left-cont">
				<h3 class="title animated replace-fadeInUp">REITOP projects</h3>
				<p class="animated replace-fadeInUp">REITs of all types collectively own more than $3 trillion
					in gross real estate assets across the U.S., with stock-
					exchange listed REITs owning approximately $2 trillion
					in assets. U.S. listed REITs have an equity market
				capitalization of more than $1 trillion.</p>
				<div class="line-group animated replace-fadeInUp">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
				<a href="" class="but red animated replace-fadeInUp">REITs by the numbers</a>
				<a href="" class="but grey animated replace-fadeInUp">portfolio</a>
			</div>
			<div class="rhombus animated replace-zoomIn" style="animation-duration:2s;">
				<div class="project-slide">
					<div class="project-item">
						<div class="project-title">1.8 m</div>
						<p>Mortgage REITs help finance 1.8 million homes in the U.S.</p>
						<a href="">learn more</a>
					</div>
					<div class="project-item">
						<div class="project-title">2.8 m</div>
						<p>Mortgage REITs help finance 1.8 million homes in the U.S.</p>
						<a href="">learn more</a>
					</div>
					<div class="project-item">
						<div class="project-title">3.8 m</div>
						<p>Mortgage REITs help finance 1.8 million homes in the U.S.</p>
						<a href="">learn more</a>
					</div>
					<div class="project-item">
						<div class="project-title">4.8 m</div>
						<p>Mortgage REITs help finance 1.8 million homes in the U.S.</p>
						<a href="">learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="project-right">
		</div>
	</div>
	<div class="cripto">
		<div class="wrapper">
			<h3 class="title animated replace-fadeInUp">Why do we use CRYPTO<span>-</span>CURRENCY?</h3>
			<div class="half-cont animated replace-fadeInUp">
				<div class="half-left">
					<div class="cripto-item">Due to the fact that cryptocurrency is not taxed, we can give our investors and shareholders such profitable interest rates</div>
					<div class="cripto-item">Very fast money transfers compared to bank transfers</div>
					<div class="cripto-item">No need to pay taxes if you make transactions in cryptocurrency</div>
					<div class="cripto-item">There are no restrictions on the maximum amount of investment, while banks limit the amount that can be sent 1 time or per day</div>
				</div>
				<div class="half-right animated replace-fadeInUp">
					<div class="cripto-item">The commission for the transfer is 0.5-4 dollars, while in banks and payment systems you need to pay 3-7% of the commission on the amount of payment</div>
					<div class="cripto-item">The ability to invest and receive dividends anywhere, without the need to visit financial institutions or structures</div>
					<div class="cripto-item">Bank accounts and accounts in the payment system are often subject to unjustified blocking, and in most cases to final blocking, without the ability to return their funds</div>
				</div>
			</div>
		</div>
		<object type="image/svg+xml" data="{% static 'img/svg/cripto.svg'%}"></object>
	</div>
	<div class="team">
		<div class="wrapper">
			<div class="half-cont">
				<div class="half-left">
					<h3 class="title animated replace-fadeInUp">Our Team</h3>
				</div>
				<div class="half-right">
					<h4 class="subtitle animated replace-fadeInUp">Meet our managers</h4>
					<p class="animated replace-fadeInUp">The core Schroder team has managed the Company since IPO in July 2004</p>
				</div>
			</div>
			<div class="team-slide animated replace-bounceInUp" style="animation-duration:2s;">
				<div class="team-item">
					<div class="team-img" style="background:url('img/team.jpg');background-position:left top;background-size:cover"></div>
					<div class="team-descr">
						<div class="name">Duncan Owen</div>
						<div class="about">Global Head of Real Estate and chairman of the invetment commitee</div>
						<div class="line"></div>
					</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
				<div class="team-item">
					<div class="team-img" style="background:url('img/team.jpg');background-position:left top;background-size:cover"></div>
					<div class="team-descr">
						<div class="name">Duncan Owen</div>
						<div class="about">Global Head of Real Estate and chairman of the invetment commitee</div>
						<div class="line"></div>
					</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
				<div class="team-item">
					<div class="team-img" style="background:url('img/team.jpg');background-position:left top;background-size:cover"></div>
					<div class="team-descr">
						<div class="name">Duncan Owen</div>
						<div class="about">Global Head of Real Estate and chairman of the invetment commitee</div>
						<div class="line"></div>
					</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
				<div class="team-item">
					<div class="team-img" style="background:url('img/team.jpg');background-position:left top;background-size:cover"></div>
					<div class="team-descr">
						<div class="name">Duncan Owen</div>
						<div class="about">Global Head of Real Estate and chairman of the invetment commitee</div>
						<div class="line"></div>
					</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>

			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="benefit-top">
			<div class="bt-title">
				<object type="image/svg+xml" class="icon-logo animated replace-fadeInUp" data="{% static 'img/svg/icon-logo.svg'%}"></object>
				<h3 class="title animated replace-fadeInUp">REITOP <br />BENEFITs</h3>
			</div>
		</div>
		<div class="wrapper">
			<div class="half-cont">
				<div class="half-left">
					<div class="benefit-item animated replace-zoomIn">
						<object type="image/svg+xml" data="{% static 'img/svg/Own_Investment_Icon.svg'%}"></object>
						<h4 class="title">Own Investment Committee</h4>
						<p>COMPANY nas an investment committee which consists of 12 people. The Investment Committee is responsible for ensuring the management of the Company's portfolio in accordance with its investment objective and policy. Approves the strategy and transactions of the Company. The Investment Committee has significant investment experience in the UK and continental Europe, so you can apply a wide context and apply a consistent and disciplined investment approach in all funds.</p>
					</div>
				</div>
				<div class="half-right animated replace-zoomIn">
					<div class="benefit-item">
						<object type="image/svg+xml" data="{% static 'img/svg/Unique_Policy_Icon.svg'%}"></object>
						<h4 class="title">Unique investment policy</h4>
						<p>The uniqueness lies in owning a diversified portfolio of real estate with good fundamental characteristics, as described below. The company invests mainly in the sectors of commercial real estate, including office, retail and industrial, and also invests in other sectors, including mixed use, residential real estate, hotels, healthcare and leisure. A separate area of investment is the purchase of residential real estate and hotels and their rental.</p>
					</div>
				</div>
			</div>
			<div class="half-cont">
				<div class="half-left">
					<div class="benefit-item animated replace-zoomIn">
						<object type="image/svg+xml" data="{% static 'img/svg/Diversification_Icon.svg'%}"></object>
						<h4 class="title">Diversification and Asset Allocation</h4>
						<p>The Board of Directors believes that in order to maximize the stability of the Company's revenues, the best strategy is to invest in a portfolio of assets diversified by location, sector, asset size and exposure to tenants with low vacancy rates and creditable tenants. The value of any individual asset at the time of its acquisition should not exceed 15% of gross assets, and the share of rental income received from one tenant should not exceed 10%.</p>
					</div>
				</div>
				<div class="half-right">
					<div class="benefit-item animated replace-zoomIn">
						<object type="image/svg+xml" data="{% static 'img/svg/Interest_Rate_Icon.svg'%}"></object>
						<h4 class="title">Interest rate</h4>
						<p>The policy of the Board of Directors is to hedge interest rate risk either by securing fixed rate borrowing or by using interest rate swaps / derivatives used exclusively for hedging purposes</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="investor">
		<div class="inner-investor">
		</div>
		<div class="wrapper">
			<h3 class="title animated replace-fadeInUp">Investor’s<br /> Profile</h3>
			<h4 class="subtitle sub-can animated replace-fadeInUp">Can be useful for investors which:</h4>
			<div class="half-cont can">
				<div class="half-left">
					<div class="investor-item animated replace-fadeInUp">Seek capital growth and are willing to invest in a higher risk fund</div>
					<div class="investor-item animated replace-fadeInUp">Agree to the risks associated with equity investments</div>
				</div>
				<div class="half-right">
					<div class="investor-item animated replace-fadeInUp">Adherents of investments in a stable sphere - commercial and residential real estate</div>
					<div class="investor-item animated replace-fadeInUp">Have a short- and medium- term investment horizon from two months to three years or more</div>
				</div>
			</div>
			<h4 class="subtitle sub-cant animated replace-fadeInUp">Can <span>not</span> be useful for investors which:</h4>
			<div class="half-cont cant">
				<div class="half-left">
					<div class="investor-item animated replace-fadeInUp">Don’t want to put their capital at risk and are looking for guaranteed methods of quick enrichment</div>
					<div class="investor-item animated replace-fadeInUp">Have a very short-term investment horizon (up to 1 month)</div>
					<div class="investor-item animated replace-fadeInUp">Don’t tolerate short-term volatility</div>
				</div>
				<div class="half-right">
					<div class="investor-item animated replace-fadeInUp">Afraid of the level of risk associated with property- based investments</div>
					<div class="investor-item animated replace-fadeInUp">Be afraid of the risks associated with investing in commercial and residential real estate</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
