{% extends 'base.html' %}

{% block page_content %}
		<div class="careers">
			<div class="wrapper">
				<div class="careers-left">
					<object type="image/svg+xml" data="img/svg/careers.svg"></object>
					<h3 class="title">REITOP is actively looking for specialists in the different areas</h3>
					<div class="line-group">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</div>
					<p>You have a chance to make your
						carrier in big project in high level
					of development and profit</p>
				</div>
				<div class="careers-right">
					<div class="careers-item odd">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
										</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item odd">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="careers-item even">
						<div class="name">A large project requires specialists who are ready
							to learn and actively use <span>all types of testing </span>
						(automated, manual, and much more)	</div>
						<div class="carrier-descr">
							<div class="half-cont">
								<div class="half-left">
									<div class="careers-title" style="background:#828bbc">CIRCLE OF TASKS WILL INCLUDEs:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="half-right">
									<div class="careers-title" style="background:#86a2e0">what we expect from you:</div>
									<div class="careers-toggle">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="careers-title" style="background:#8ed28f">WHAT DO WE OFFER:</div>
							<div class="careers-toggle">
								<div class="half-cont offer">
									<div class="half-left">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
									<div class="half-right">
										<ul>
											<li>communication with customers</li>
											<li>requirements and systems analysis</li>
											<li>compilation and passage of checklists</li>
											<li>development and support of automated scripts for UI / API</li>
											<li>analysis of the results</li>
											<li>creation of bug reports, for which you will need to know the functionality of the tested product and the subject area</li>
										</ul>
									</div>
								</div>
								<div class="resume">
									<div class="resume-grey"></div>
									<div class="resume-descr">
										<object type="image/svg+xml" data="img/svg/careers.svg"></object>
										<div class="resume-title">Are you striving for professional development and ready to pump your skills every day?</div>
										<p>Then send us your resume at <a href="mailto:jobs@nixsolutions.com" target="_blank">jobs@nixsolutions.com </a> or fill out our online resume</p>
										<a href="" class="but-round resume-but">SEND RESUME</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
{% endblock %}
